<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
            <i class="bi bi-phone"></i> +1 5589 55488 55
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a *ngFor="let topb of this.medilabSrv.topbar" href="#" class="{{topb.socialMediaPlatform}}"><i
                    class="{{topb.icon}}"></i></a>
        </div>
    </div>
</div>