<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
                *ngFor="let service of this.medilabSrv.services">
                <div class="icon-box">
                    <div class="icon"><i class="{{service.icon}}"></i></div>
                    <h4><a href="">{{service.serviceName}}</a></h4>
                    <p style="word-break: break-word;">{{service.description}}</p>
                </div>
            </div>
        </div>
    </div>
</section>