<!-- ======= Why Us Section ======= -->
<app-why-us></app-why-us>
<!-- End Why Us Section -->

<!-- ======= About Section ======= -->
<app-about></app-about>
<!-- End About Section -->

<!-- ======= Counts Section ======= -->
<app-counts></app-counts>
<!-- End Counts Section -->

<!-- ======= Services Section ======= -->
<app-services></app-services>
<!-- End Services Section -->

<!-- ======= Appointment Section ======= -->
<app-appointment></app-appointment>
<!-- End Appointment Section -->

<!-- ======= Departments Section ======= -->
<app-departments></app-departments>
<!-- End Departments Section -->

<!-- ======= Doctors Section ======= -->
<app-doctors></app-doctors>
<!-- End Doctors Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<app-faq></app-faq>
<!-- End Frequently Asked Questions Section -->

<!-- ======= Testimonials Section ======= -->
<app-testimonials></app-testimonials>
<!-- End Testimonials Section -->

<!-- ======= Gallery Section ======= -->
<app-gallery></app-gallery>
<!-- End Gallery Section -->

<!-- ======= Contact Section ======= -->
<app-contact></app-contact>
<!-- End Contact Section -->